// Colors.
$white: #fff;
$black: #000;
$grey: #777;
$lh-grey: #dcdcdc;

// Breakpoints.
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;

// Fonts.
$ff-regular: 'Arial-regular', sans-serif;
$ff-bold: 'Arial-bold', sans-serif;

// Font size.
$fs-base: 14px;
