.header-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 148px;
  padding: 10px 0;
  @include tablet {
    width: 100%;
    flex-wrap: nowrap;
  }
	
  [class*='header-block_'] {
    min-height: 108px;
    padding: 10px;
  }
	
  [class*='-content'] {
    height: 100%;
  }
	
  &__one {
    width: 122px;
    @include tablet {
      @include absolute(10px, 0);
      width: 14.7%;
    }
  }
	
  &__two {
    width: calc(100% - 122px);
    @include tablet {
      @include absolute(10px, calc(14.7% + 5px));
      width: 31%;
    }
  }
	
  &__three {
	  width: 100%;
	  @include tablet {
		  @include absolute(10px, auto, auto, -20px);
		  width: 55.4%;
	  }
  }
	
  .info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 20px;
		
    a {
      @include text($fs-base, 400, $ff-regular, 22px);
    }
		
    a:not(.info-block__tel) {
      text-decoration: underline;
    }
  }
}
