@font-face {
	font-family: 'Arial-regular';
	font-weight: normal;
	font-style: normal;
	src: url('../../fonts/arial/arial-regular/ArialRegular.eot') format('eot'),
	     url('../../fonts/arial/arial-regular/ArialRegular.ttf') format('truetype'),
	     url('../../fonts/arial/arial-regular/ArialRegular.woff') format('woff');
}

@font-face {
	font-family: 'Arial-bold';
	font-weight: bold;
	font-style: normal;
	src: url('../../fonts/arial/arial-bold/ArialBold.eot') format('eot'),
	url('../../fonts/arial/arial-bold/ArialBold.ttf') format('truetype'),
	url('../../fonts/arial/arial-bold/ArialBold.woff') format('woff');
}
